<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nocturn: Crypto Wallet</title>
    <style>
        * {
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
    </style>
    <script src="{{ url_for('static', filename='tailwindcss.js') }}"></script>
</head>

<body class="bg-zinc-700 min-h-screen flex justify-center items-start">
    <!-- Main container that centers the mobile view -->
    <div class="w-full max-w-[420px] min-h-screen bg-white relative">
        
    </div>

</body>

</html>