<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nocturn: Crypto Wallet</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        />
        <style>
            * {
                scrollbar-width: none;
                -ms-overflow-style: none;
            }

            body {
                font-family: "Geist", system-ui, -apple-system,
                    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
                    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            }

            .font-normal {
                font-weight: 400;
            }

            .font-medium {
                font-weight: 500;
            }

            .font-semibold {
                font-weight: 600;
            }

            .balance {
                font-weight: 600;
                font-size: 2rem;
            }

            .bold {
                font-weight: 700;
            }

            .label {
                font-weight: 400;
                font-size: 1rem;
            }

            .active-nav {
                background-color: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(20px);
                border-radius: 1rem;
            }

            @keyframes shimmer {
                0% {
                    transform: translateX(-100%);
                }
                100% {
                    transform: translateX(100%);
                }
            }
        </style>
        <script src="{{ url_for('static', filename='check-cookie.js') }}"></script>
        <script src="{{ url_for('static', filename='tailwindcss.js') }}"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="{{ url_for('static', filename='home.js') }}"></script>
    </head>

    <body class="bg-[#1B1B1D] min-h-screen flex justify-center items-center">
        <div
            class="w-full max-w-[400px] pb-20 min-h-screen bg-white relative overflow-y-scroll"
        >
            <div
                class="relative bg-[#AB9DFF] border-transperent rounded-b-[40px]"
            >
                <div
                    class="flex justify-between items-center bg-[#1C1E32] p-4 border-transperent rounded-b-[20px]"
                >
                    <div class="flex items-center gap-1 cursor-pointer">
                        <div
                            class="w-12 h-12 rounded-full overflow-hidden flex justify-center items-center"
                        >
                            <div
                                class="w-full h-full flex items-center justify-center text-center text-2xl font-bold"
                            >
                                <img
                                    class="h-[80%] w-[80%]"
                                    src="{{url_for('static', filename='assets/nocturn-mini-white.svg')}}"
                                    alt=""
                                />
                            </div>
                        </div>
                        <span class="text-white font-semibold text-2xl"
                            >Nocturn</span
                        >
                    </div>
                    <button id="logoutButton" class="text-white p-2 bg-gray-100/20 rounded-full hover:bg-gray-100/30" title="Logout">
                        <svg fill="white" class="w-8 h-8 p-1.5" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 384.971 384.971" xml:space="preserve">
                            <g>
                                <g id="Sign_Out">
                                    <path d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03C192.485,366.299,187.095,360.91,180.455,360.91z"/>
                                    <path d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"/>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>

                <div class="p-10 flex flex-col items-center">
                    <p class="text-black text-md mb-2 label font-medium">
                        Balance in USD
                    </p>
                    <h1 class="text-black text-6xl mb-2 balance relative">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="text-4xl bold">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        <div
                            class="skeleton-loading rounded-lg absolute inset-0 bg-gray-200 animate-pulse"
                        ></div>
                    </h1>
                </div>
            </div>

            <div class="p-6 bg-white rounded-t-3xl">
                <div class="space-y-4" id="crypto-list">
                    <div
                        class="flex hover:bg-gray-200 cursor-pointer items-center justify-between p-4 bg-[#F2F2F4] rounded-2xl"
                    >
                        <div class="flex items-center gap-3">
                            <div
                                class="w-10 h-10 rounded-full flex items-center justify-center relative"
                            >
                                <span class="${crypto.textColor} font-bold"
                                    >&nbsp;</span
                                >
                                <div
                                    class="skeleton-loading rounded-full absolute inset-0 bg-gray-400 animate-pulse"
                                ></div>
                            </div>
                            <div class="relative">
                                <p class="font-medium">&nbsp;&nbsp;</p>
                                <p class="text-sm text-gray-500">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                                <div
                                    class="skeleton-loading rounded-lg w-36 h-10 transform -translate-y-1/2 top-1/2 absolute inset-0 bg-gray-400 animate-pulse"
                                ></div>
                            </div>
                        </div>
                        <div class="text-right relative">
                            <p class="font-medium">&nbsp;</p>
                            <p class="text-sm text-gray-500">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <div
                                class="skeleton-loading rounded-lg w-20 h-10 transform -translate-y-1/2 top-1/2 absolute inset-0 bg-gray-400 animate-pulse"
                            ></div>
                        </div>
                    </div>
                    <div
                        class="flex hover:bg-gray-200 cursor-pointer items-center justify-between p-4 bg-[#F2F2F4] rounded-2xl"
                    >
                        <div class="flex items-center gap-3">
                            <div
                                class="w-10 h-10 rounded-full flex items-center justify-center relative"
                            >
                                <span class="${crypto.textColor} font-bold"
                                    >&nbsp;</span
                                >
                                <div
                                    class="skeleton-loading rounded-full absolute inset-0 bg-gray-400 animate-pulse"
                                ></div>
                            </div>
                            <div class="relative">
                                <p class="font-medium">&nbsp;&nbsp;</p>
                                <p class="text-sm text-gray-500">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                                <div
                                    class="skeleton-loading rounded-lg w-36 h-10 transform -translate-y-1/2 top-1/2 absolute inset-0 bg-gray-400 animate-pulse"
                                ></div>
                            </div>
                        </div>
                        <div class="text-right relative">
                            <p class="font-medium">&nbsp;</p>
                            <p class="text-sm text-gray-500">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <div
                                class="skeleton-loading rounded-lg w-20 h-10 transform -translate-y-1/2 top-1/2 absolute inset-0 bg-gray-400 animate-pulse"
                            ></div>
                        </div>
                    </div>
                    <div
                        class="flex hover:bg-gray-200 items-center justify-between p-4 bg-[#F2F2F4] rounded-2xl"
                    >
                        <div class="flex items-center gap-3">
                            <div
                                class="w-10 h-10 rounded-full flex items-center justify-center relative"
                            >
                                <span class="${crypto.textColor} font-bold"
                                    >&nbsp;</span
                                >
                                <div
                                    class="skeleton-loading rounded-full absolute inset-0 bg-gray-400 animate-pulse"
                                ></div>
                            </div>
                            <div class="relative">
                                <p class="font-medium">&nbsp;&nbsp;</p>
                                <p class="text-sm text-gray-500">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                                <div
                                    class="skeleton-loading rounded-lg w-36 h-10 transform -translate-y-1/2 top-1/2 absolute inset-0 bg-gray-400 animate-pulse"
                                ></div>
                            </div>
                        </div>
                        <div class="text-right relative">
                            <p class="font-medium">&nbsp;</p>
                            <p class="text-sm text-gray-500">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <div
                                class="skeleton-loading rounded-lg w-20 h-10 transform -translate-y-1/2 top-1/2 absolute inset-0 bg-gray-400 animate-pulse"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="fixed bottom-0 left-0 right-0 max-w-[400px] mx-auto nav-buttons"
            >
                <div
                    class="flex items-center justify-between p-3 px-6 bg-[#1C1E32] text-white"
                >
                    <button class="p-2 px-4 active-nav" id="home" data-url="">
                        <i class="fas fa-home text-2xl"></i>
                    </button>
                    <button class="p-2 px-4" id="send" data-url="send">
                        <i class="fas fa-paper-plane text-2xl"></i>
                    </button>
                    <button class="p-2 px-4" id="receive" data-url="receive">
                        <i class="fas fa-download text-2xl"></i>
                    </button>
                    <button class="p-2 px-4" id="history" data-url="history">
                        <i class="fas fa-history text-2xl"></i>
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
